* {
    flex-wrap: wrap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-image: url("../images/background-purple.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f5f5f5;
    text-align: center;
    padding: 25px 0;
}

header h1 {
    font-size: 45px;
}

header p {
    font-size: 30px;
}

header img {
    width: 5%;
    height: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 5px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 35px;
    text-decoration: underline;
}

section {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

section h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

section p {
    font-size: 18px;
}

aside {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    display: flex;
    min-height: 500px;
}

aside h1 {
    font-size: 35px;
    text-decoration: underline;
    padding: 5px;
    width: 20%;
}

aside article {
    width: 80%;

}

@media screen and (max-width: 900px) {
    aside {
        flex-direction: column;
    }

    aside h1 {
        width: 100%;
    }

    aside article {
        width: 100%;
    }
}

#big-card {
    height: 50%;
    border: 2px solid aqua;
}

#cards {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    background-color: blue;
    width: 45%;
    border: 2px solid aqua;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project img {
    width: 100%;
    height: 100%;
}

#Horiseon:hover {
    opacity: .5;
}

#Horiseon {
    flex: 4 0 100%;
    width: 80%;
    height: 100%;

}

.card {
    flex: 0 0 100%;
}

img {
    width: 300px;
    height: 300px;
}